:root {
  --brand-gray-100: #f3f2f2;
  --base-gray-200: #E6E5E5;
  --base-gray-300: #8d8686;
  --base-gray-400: #272221;
  --base-gray-500: #403937;
  --base-gray-700: #574f4d;
  --brand-purple-100: #ebe5f9;
  --brand-purple-300: #8047f8;
  --brand-purple-500: #4b2995;
  --brand-yellow-100: #f1e9c9;
  --brand-yellow-300: #dbac2c;
  --brand-yellow-500: #c47f17;
}
